body {
  padding: 0;
  margin: 0;
  background-color: grey;
}
#boxeL {
  background-image:url("../img/tarot1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#boxeM {
  background-image:url("../img/tarot4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#boxeR {
  background-image:url("../img/tarot2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
